<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="md_config"
		label="COM_MEMBERDATABASE_CONFIG_SETTINGS_LABEL"
		description="COM_MEMBERDATABASE_CONFIG_SETTINGS_DESC"
	>
		<field
			name="association_name"
			type="text"
			label="COM_MEMBERDATABASE_ASSOCIATION_NAME"
			description="COM_MEMBERDATABASE_ASSOCIATION_DESC"
			default="SCACR"
		/>
		
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_memberdatabase"
			section="tower"
		/>
	</fieldset>
</config>